@media (max-width: 860px) {
    .modal {
        width: 100%;
    }
    .home img {
        width: 70%;
    }
    .contato-right {
        display: none;
    }
    .field {
        max-width: 90%;
        width: 95%;
    }
    .input-group textarea {
        max-width: 100%;
    }
    .button-modal{
        justify-items: center;
    }
    .button-2 {
        margin-left: 0;
    }
}