* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    margin-top: 20%;
    margin-left: 5%;
    width: 250px;
    height: 300px;
}
